.header {
  background-color: var(--gray-800);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.header img {
  height: 2.5rem;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid var(--purple-500);
  }
}